@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rubik:wght@900&display=swap');


.Gallery {
    min-height: 50vh;
    background-image: url("../../Assets/galleryBg.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    color: black;
    flex-direction: column;
}

.Gallery h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
}

.css-uym98a-MuiImageList-root {
    width: 70vw !important;
    margin: auto;
}

.css-xts502 {
    width: 90vw !important;
    margin: auto;
}

.css-heg063-MuiTabs-flexContainer {
    justify-content: center;
}
.css-k008qs {
    justify-content: center;
}


.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: red !important;
    font-size: 2rem !important;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: red !important;
}