.Location {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    background-image: url('../../Assets/locationBg.jpeg');
    background-position: center;
    object-fit: cover;
    margin-top: 10vh;
    padding: 12px;
}

.Location h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    color: white;
}

.Location .iFrames {
    overflow: hidden;
    display: flex;
    gap: 10vw;
    justify-content: center;
    height: 400px;
}

.Location .map,
.Location .threeSixtyImg {
    border-radius: 12px;
    width: 40vw;
}

@media (max-width: 766px) {
    .Location .iFrames {
        flex-direction: column;
        align-items: center;
    }

    .Location .map,
    .Location .threeSixtyImg {
        width: 100%;
        margin-bottom: 20px; /* Add margin between iframes */
    }
}
