@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rubik:wght@900&display=swap');


.AboutUs {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url('https://mobirise.com/extensions/bistrom5/burger_house/assets/images/mbr-1920x1160.jpg');
    background-position: center;
    object-fit: cover;
    position: relative;
}

.AboutUs .heading {
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
}

.AboutUs .AboutSub {
    width: 80%;
    height: 60%;
    position: absolute;
    bottom: -30%;
    background: #ebf2e9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.AboutUs .aboutPara {
    text-align: center;
}

.aboutPara p {
    font-size: 2vw;
}

.AboutUs .socialLogos {
    height: 50px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}

.AboutUs .socialLogos img {
    height: 100%;
    width: 60px;
}


@media (max-width: 857px) {
    .AboutSub {
        flex-direction: column;
    }

    .aboutPara p {
        font-size: 3vw;
    }
}